h1{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; 
}
html{
scroll-behavior: smooth;
}
body{
    background-color: #EFEDE7;
}

.navBarContainer{
    margin: auto;
}


.jumbotron{
    background-color: #EFEDE7;
}

.container1{
    text-align: center;
    width: 100%;
    height: 65%;
}

.container2{
    text-align: center;
    height: 70%;
    background-color: #FACA78 
}

.container3{
    text-align: center;
    height: 80%;
}

.container4{
    display: inline-block;
    text-align: center;
    background-color: #93A2ED;
    margin-top: 10em;
    height: 110%;
    width: 100%;
    overflow:auto;
}
        
.jumbotron1{
    height: 60%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    background-color: #F58B44;
}

.para1{
    height: 100%;
    padding-top: 2em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.text{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    font-size: 140%;
}

.progress{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0.5%;
}

.display4{
    margin-top: 1%;
}

img{
    width: 75%;
    height: 27%;
    margin-top: 0.8em;
    border-radius: 0.3em;
    margin-bottom: 1em;
}

.card{
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 60%; 
    height: 75%;
    background-color: #F6F4EB;
}
.imgPara
{
    margin-top: 1em;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

hr{
    margin-bottom: 0em;
    margin-top: 0em;
}
        
.firstYrGradeContainer{
    margin-top: 6em;
}
        
#jumbo1{
    margin-top: 5em;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align:left;
}
        
#jumbo2{
    margin-top: 5em;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align:left;
}
                
#jumbo3{
    margin-top: 2em;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align:left;
}

#jumbo4{
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align:left;
}

#jumbo5{
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align:left;
}

#jumbo6{
    margin-top: 4em;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align:left;
}
        
#jumbo7{
    margin-top: 4em;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align:left;
}

#jumbo8{
    margin-top: 4em;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align:left;
}
        
.container5{
    display: inline-block;
    text-align: center;
    margin-top: 5em;
    height: 90%;
    width: 55%;
    margin-bottom: 50em;
}
.container6{
    display: inline-block;
    text-align: center;
    background-color: #FF6B6B;
    height: 90%;
    width: 100%;
    overflow: auto;
}
        
.container7{
    display: inline-block;
    text-align: center;
    background-color: #00acb4;
    height: 95%;
    width: 100%;
    overflow: auto;
}
        
.container8{
    width: 20%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
}
        
.myFooter{
    height: 40%;
    background-color: #243033;
}        

.carousel .carousel-item{
    transition: transform 0.5s ease, opacity .8s ease-out
}
        
.container9{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.accordion{
    background-color: #EFEDE7;
    margin-top: 5em;
}

.innerFooter{
    padding-top: 5em;
    text-align: center;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #243033;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}